.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
  margin: 20px 20px;
}

.App-header {
  align-items: center;
  background-color: white;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.App-link {
  color: #61dafb;
}

#main {
  width: 100%;
}
